@model StartWebSiteEnglish.Models.LoginModel

@{
    /**/

    ViewBag.Title = "Login";
}


<div id="login-form" style="display: block;">

    @using (Html.BeginForm("Login", "Home", FormMethod.Post, new { @class = "form-horizontal" }))
    {
        @Html.AntiForgeryToken()
        <div class="register-form">
            <span class="heading">Авторизация</span>
            <p style="font-size:0.9em;">@Html.ValidationSummary(true)</p>
            <div class="form-group">
                <input type="text" class="form-control" name="UserName" placeholder="Логин" required>
                <i class="fa fa-user"></i>
                <span class="error-right"> @Html.ValidationMessageFor(model => Model.UserName) </span>
            </div>
            <div class="form-group help">

                <input type="password" class="form-control" name="Password" placeholder="Пароль" required>
                <i class="fa fa-lock"></i>
                <span class="error-right"> @Html.ValidationMessageFor(model => Model.Password) </span>
                <p><a href="#" class="forget-password" style="float: right;">Забыли пароль?</a></p>
            </div>
            <div class="form-group" style="display: inline-block;">
                <input type="checkbox" class="checkbox" id="checkbox" />
                @*  <label class="check" for="checkbox">Запомнить меня</label>*@
                <button type="submit" class="btn btn-default">Войти</button>
            </div>
        </div>
    }
</div>


<div id="remindrassword-form" style="display: none;" class="form-horizontal">
    @using (Html.BeginForm("ForgotPassword", "Home", FormMethod.Post, new { @class = "form-horizontal" }))
    {
        @Html.AntiForgeryToken()
        <div class="register-form">
            <span class="heading">Введите ваш Email</span>
            <div class="form-group">
                <input type="text" class="form-control" name="Email" required>
                <i class="fa fa-user"></i>
            </div>

            <div class="form-group" style="display: inline-block;">
                <button type="submit" class="btn btn-default">Востановить пароль</button>
            </div>
        </div>
    }
    <button id="back-login" class="btn btn-default">Назад</button>
</div>

    @*<div>
            @Html.ActionLink("Back to List", "Index")
        </div>*@

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script>
        $("a.forget-password").on("click", function () {
            $("#login-form").css("display", "none");
            $("#remindrassword-form").css("display", "block");
        });

        $("#back-login").on("click", function () {
            $("#login-form").css("display", "block");
            $("#remindrassword-form").css("display", "none");
        });
    </script>

