@model StartWebSiteEnglish.Models.ResetPassword

@{
    ViewBag.Title = "ResetPassword";
    Layout = "~/Views/Shared/_Header.cshtml";
}

@section Body{
    <div style="width: 500px; height: 600px;">

        @using (Html.BeginForm("ResetPassword", "Home", FormMethod.Post, new { @class = "form-horizontal" }))
        {
            @Html.AntiForgeryToken()

        <div class="register-form">
            <span >@ViewBag.UserName</span>

            <span class="heading">Спрос пароля</span>
            <p style="font-size: 0.9em;"> @Html.ValidationSummary(true)</p>
            <div class="form-group help">
                <input type="password" class="form-control" name="NewPassword" placeholder="Пароль" required>
                <i class="fa fa-lock"></i>
                <span class="error-right"> @Html.ValidationMessageFor(model => Model.NewPassword) </span>
            </div>
            <div class="form-group help">
                <input type="password" class="form-control" name="ConfirmNewPassword" placeholder="Повтор пароля" required>
                <i class="fa fa-lock"></i>
                <span class="error-right">@Html.ValidationMessageFor(model => Model.ConfirmNewPassword)</span>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-default">Изменить</button>
            </div>
        </div>
        }
        <button id="back-login" class="btn btn-default"><a href="/Home/Index">Назад</a></button>
    </div>

}

